.corpo{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#20aa27
}

.quadrado{
    display: flex;
    border: black 1px solid;
    justify-content: center;
    flex-direction: column;
    max-width: 32%;
    width: 100%;    
    border-radius: 1%;
}
.secao1{
    display: flex;
    height: 20em;
    overflow: auto;
    background-image: url(carro_wpp.jpg);
    flex-direction: column;
}
.secao1 > div {
     margin: 15px 8px 0px 8px;
}

.cabecalho{
    width: 100%;
    height: 10%;
    display: flex;
    background-color: rgb(182, 179, 179);
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 200;
    border-bottom: rgb(0, 0, 0) 1px solid;
    padding-top: 0.7em;
    padding-bottom: 0.7em;

}

.titulo {
    color: white;

}

.box{
    display: flex;
    align-items: start;
    padding: 5px 10px;
    border-top: black 1px solid;
    border-bottom: 0px;
    background-color: rgb(182, 179, 179);
    justify-content: center;

}

textarea{
    margin-right: 8px;
    border: black 1px solid;
    border-radius: 10px;
    width: 70%;

}

.enviar{
    padding: 5px;
    margin: 5px;
    background-color: blue;
    border-radius: 10px;
    border: rgb(182, 179, 179) 1px solid;
    cursor: pointer;
}

.enviar{
    color: aliceblue;
}

.enviar:hover{
    border: black 1px solid;
}

.secao1 > div {
    background-color: transparent;
    display: flex;
    flex-direction: column;


}

.button_excluir {
    background-color: rgb(255, 0, 0);
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
    padding: 0.8%;
    

}

.button_editar {
    background-color: rgb(0, 255, 42);
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    color: rgb(255, 255, 255);
    padding: 0.8%;
    
}

div:not([class]) p {
    color: rgb(0, 0, 0);
    border: black 1px solid;
    border-radius: 4px;
    background-color: aliceblue;
    word-break: break-all;
    display: flex;
      
}

button {
    cursor: pointer;
    border-radius: 3px;
}
